@page {
	size: A4 landscape;	
	margin: 0 0 0 0;
}

div {
	border-style: solid;
	border-width: 0px;
	-webkit-print-color-adjust: exact;
	position: absolute;
	overflow: hidden;
}

body {
	border-style: solid;
	border-width: 0px;
}

.twopages {
	width: 42cm;
	height: 29.7cm;	
	position: relative;
}

.leaflet {
	width: 21cm;
	height: 29.9cm;

	border-style: solid;
	border-width: 1px;
	border-color: white;

  	margin-right: 5px;
  	margin-bottom: 0px;

    font-family: 'Cantarell', sans-serif;

 	position: relative;
}

.pb {
	height: 0.001cm;
	border-style: solid;
	border-width: 0px;
}

.left {
	float: left;
}

.right {
	float: right;
	margin-left: 21cm;
	page-break-after: always;	
}

.leaflet .title {
	width: 19.1cm;
	height: 3cm;
	text-align: left;
 
    top: 0.5cm;
    left: 1.1cm;
    font-size: 1.7cm;
    line-height: 1.3cm;
    font-weight: 500;
}

.contact {
	font-size: 0.6cm;
	font-weight: 400; 
	left: 6.2cm;
	height: 2cm;
	top: 27.2cm;
	width: 8cm;
	text-align: left;
}

.title_cover {
	width: 19.1cm;
	height: 3cm;
	text-align: left;
 
    top: 0.5cm;
    left: 1.1cm;
    font-size: 1.7cm;
    line-height: 1.3cm;
    font-weight: 400;
}

.cover .text_cover {
	text-align: center;
	font-size: 1.6cm;
	line-height: 1.4cm;
	top: 6.7cm;
	height: 10cm;
	font-weight: 300;
}

.cover .logo_image_cover {
	width: 11cm;
	height: 11cm;
	top: 16.9cm;
	left: 4.5cm;
	background-size: 10.98cm;
}

.cover .contact {
	visibility: hidden;
}

.title2 {
	//font-size: 2.5cm;	
}

.logo_image {
	width: 4.6cm;
	height: 4.6cm;
	left: 1.1cm;
	top: 24.7cm;
	opacity: 0.9;
	background-size: 4.6cm;
}

.leaflet .title_cover_line1 {
	top: 1.0cm;	
	left: 0.1cm;
	width: 19.2cm;
	font-size: 3.4cm;
	text-align: center;
}

.title_line1 {
	top: 24.0cm;	
	left: 5.2cm;
	width: 14cm;
	text-align: left;
}

.title_line2 {
	top: 26.4cm;	
	left: 5.2cm;
}

.text {
	font-size: 0.59cm;
	line-height: 0.66cm;
	left: 1.1cm;
	height: 21cm;
	top: 3.8cm;
	width: 19cm;
	text-align: left;
}

.text hr {
	height: 0.2cm;	
	margin: 0px;
	visibility: hidden;
}

.bgimage {
  opacity: 0.3;
}

.text2 {
//	font-size: 0.5cm;
}

.text3 {
//	font-size: 0.6cm;
}

.textd1 {
	top: 10cm;
	
}

.titled1_line2 {
	top: 5cm;
	font-size: 1cm;
	width: 19.1cm;
	height: 2cm;
  text-align: center;
}

.titled1_line1 {
  top: 19cm;
	width: 19cm;
	left: 0.1cm;
	text-align: center;
}

.bgimaged1 {
	top: 8cm;
}

.contactd1 {
	font-size: 0.5cm;
	top: 22.7cm;
	line-height: 0.7cm;
  width: 6.3cm;
	word-spacing: 0.1cm;
}

.contactd1_2 {
	font-size: 0.5cm;
	top: 22.7cm;
	left: 12.5cm;
	line-height: 0.7cm;
  width: 7.6cm;
	word-spacing: 0.1cm;
}

.logo_imaged1 {
	top: 23cm;
  left: 1cm;	
}
