--- 
layout: none

---

<html>
<head>
	{% include flyerhead.html %}
	
	<link rel="stylesheet"
		href="{{ base }}/assets/css/flyers/basic.css">
	<link rel="stylesheet"
		href="{{ base }}/assets/css/leaflets/leaflet1.css">
	
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"> 
	<script src="{{ base }}/assets/vendor/html2canvas.min.js"></script>
	<script src="{{ base }}/assets/vendor/jquery/jquery.js"></script>

	<!--	
	-->
	
	<style>			
		iframe {
 			height: 21cm;
			width: 14.84cm;
	 		border-style: none;
		}
	</style>

</head>

<body>
	<div class="twopages">
	<div class="page left" id="cover">cover</div> <div class="div right" id="8">8</div>
	</div>
	<hr class="pb" />
	<div class="twopages">
	<div class="div left" id="2">2</div> <div class="div right" id="7">7</div>
	</div>
	<hr class="pb" />
	<div class="twopages">
	<div class="div left" id="3">3</div> <div class="div right" id="6">6</div>
	</div>
	<hr class="pb" >
	<div class="twopages">
	<div class="div left" id="4">4</div> <div class="div right" id="5">5</div>
	</div>
	
	
	

	<script>
		$("#cover").load('1cover.html .leaflet');
		$("#2").load('2.html .leaflet');
		$("#3").load('3.html .leaflet');
		$("#4").load('4.html .leaflet');
		$("#5").load('5.html .leaflet');
		$("#6").load('6.html .leaflet');
		$("#7").load('7.html .leaflet');
		$("#8").load('8.html .leaflet');
	</script>
	
</body>
</html>
