#finalimg {
	height: 100%;
}

div {
	border-style: dashed;
	border-width: 0px;
}

.fbimage {
	width: 31cm;
	height: 16.27cm;

	border-style: solid;
	border-width: 1px;

	margin-right: 10px;
	
}

.text {
	position: absolute;
	
	width: 28.6cm;
	height: 3.0cm;
	top: 11.1cm;
	left: 1.5cm;
	
	margin-top: 0px;
	padding: 0px;

//	text-align: justify;
	vertical-align: top;
	
	font-weight: 400;
	font-size: 0.96cm;	
	
  line-height: 2.0cm;

  font-family: 'Fjalla One', sans-serif;
}

.text2 {
	position: absolute;
	
	width: 19.6cm;
	height: 15cm;
	top: 15.6cm;
	left: 1.5cm;
	
	margin-top: 0px;
	padding: 0px;

//	text-align: justify;
	vertical-align: top;
	
	font-weight: 400;
	font-size: 0.92cm;
}

.contact {
	position: absolute;
	
	width: 10cm;
	height: 2.6cm;
	top: 23.56cm;
	left: 11.2cm;
	
	margin-top: 0px;
	padding: 0px;

//	text-align: justify;
	vertical-align: bottom;
	
	font-weight: 100;
	font-size: 0.74cm;
}

.title {
	position: absolute;
	
	width: 22.6cm;
	height: 15cm;
	top: 1.2cm;
	left: 1.5cm;
	
	text-align: center;
	visibility: hidden;
		
	line-height: 2.8cm;
	font-weight: 400;
	font-size: 2.8cm
}

.name {
	position: absolute;

	font-weight: 400;
	font-size: 2.4cm;
	text-align: left;
	left: 1.5cm;
	
	font-family: 'Anton', sans-serif;
}

.title_line1 {
	top: 1.5cm;
	width: 28cm;
	font-size: 4.1cm;
}

.title_line2 {
	top: 5.5cm;
	font-size: 4cm;
}

.title_line3 {
	top: 23.8cm;
}

.logo_image {
	position: absolute;
	z-index: 0;
	width: 8.0cm;
	height: 8.0cm;
	
	top: 2.2cm;
	left: 19.0cm;

	opacity: 0.74;
	
	background-size: 8cm;
	background-image: url('../../img/tzmlogo_color.png');
}

.background_image_container {
	position: absolute;
	z-index: 0;
	width: 29cm;
	height: 15cm;
	
	top: 2.0cm;
	left: 1.0cm;
	
	opacity: 0.53;
	
	background-size: 34cm;
	background-image: url('../../img/autumn-219972_1280.jpg'
}

