#finalimg {
	height: 100%;
}

div {
	border-style: dashed;
	border-width: 0px;
}

.flyer {
	width: 21cm;
	height: 29.6cm;

	border-style: solid;
	border-width: 1px;

  	margin-right: 10px;
	
}

.text {
	position: absolute;
	
	width: 19.6cm;
	height: 18cm;
	top: 6.0cm;
	left: 0.8cm;
	
	margin-top: 0px;
	padding: 0px;

//	text-align: justify;
	vertical-align: top;
	
	font-weight: 400;
	font-size: 0.96cm;	
}

.text2 {
	position: absolute;
	
	width: 19.6cm;
	height: 18cm;
	top: 15.6cm;
	left: 0.8cm;
	
	margin-top: 0px;
	padding: 0px;

//	text-align: justify;
	vertical-align: top;
	
	font-weight: 400;
	font-size: 0.92cm;
}

.contact {
	position: absolute;
	
	width: 10cm;
	height: 2.6cm;
	top: 3.56cm;
	left: 11.2cm;
	
	margin-top: 0px;
	padding: 0px;

//	text-align: justify;
	vertical-align: bottom;
	
	font-weight: 100;
	font-size: 0.74cm;
}

.title {
	position: absolute;
	
	width: 2.6cm;
	height: 18cm;
	top: 1.2cm;
	left: 0.6cm;
	
	text-align: center;
 	visibility: hidden;
		
	line-height: 2.8cm;
	font-weight: 400;
	font-size: 2.8cm
}

.name {
	position: absolute;

	font-weight: 400;
	font-size: 2.4cm;
	text-align: left;
	left: 0.8cm;
	
	font-family: 'Anton', sans-serif;
}

.title_line1 {
	top: 0.0cm;
	width: 14cm;
}

.title_line2 {
	top: 2.4cm;
}

.title_line3 {
	top: 23.8cm;
}

.logo_image {
	position: absolute;
	z-index: 0;
	width: 20.6cm;
	height: 6.6cm;
	
	left: -0.2cm;
	top: 22.8cm;

	opacity: 1.0;
	
	background-size: 22.6cm;
	background-image: url('../../img/tzm_icons.png');
}

.background_image_container {
	position: absolute;
	z-index: 0;
	width: 20.0cm;
	height: 20.0cm;
	
	top: 3.4cm;
  left: 0.4cm;
	
	opacity: 0.13;
	
	background-size: 19.98cm;
	background-image: url('../../img/tzmlogo.svg');
}

