#finalimg {
	height: 100%;
}

div {
	border-style: dashed;
	border-width: 0px;
}

.flyer {
	width: 21cm;
	height: 29.6cm;

	border-style: solid;
	border-width: 1px;

  	margin-right: 5px;
	
}

.text {
	position: absolute;
	
	width: 16.5cm;
	height: 18cm;
	top: 1.2cm;
	left: 3.8cm;
	
	margin-top: 0px;
	padding: 0px;

//	text-align: justify;
	vertical-align: top;
	
	font-weight: 400;
	font-size: 1.12cm;	
}

.contact {
	position: absolute;
	
	width: 20cm;
	height: 2.6cm;
	top: 26.8cm;
	left: 1.2cm;
	
	margin-top: 0px;
	padding: 0px;

//	text-align: justify;
	vertical-align: bottom;
	
	font-weight: 100;
	font-size: 0.80cm;
}

.title {
	position: absolute;
	
	width: 1.6cm;
	height: 18cm;
	top: 1.2cm;
	left: 0.8cm;
	
	text-align: center;
	
	line-height: 2.8cm;
	font-weight: 400;
	font-size: 8cm;
}

.name {
	position: absolute;

	font-weight: 400;
	font-size: 2.4cm;
	text-align: right;
	margin-left: 1.0cm;
	
	font-family: 'Anton', sans-serif;
}

.title_line1 {
	top: 19.4cm;
}

.title_line2 {
	top: 21.6cm;
}

.title_line3 {
	top: 23.8cm;
}

.logo_image {
	position: absolute;
	z-index: 0;
	width: 6.6cm;
	height: 6.6cm;
	
	left: 13.2cm;
	top: 20cm;

	opacity: 0.9;
	
	background-size: 6.6cm;
	background-image: url('../../img/gallery/tzmlogo_color.png');
}

.bgimage {
	position: absolute;
	z-index: 0;
	width: 21.0cm;
	height: 10cm;
	
	top: 15.4cm;

	opacity: 0.3;
	
	background-size: 21.0cm;
	background-image: url('../../img/autumn-219972_1280.jpg');
}

