div {
	border-style: dashed;
	border-width: 0px;
}

.flyer {
	width: 10.5cm;
	height: 14.8cm;

	border-style: solid;
	border-width: 1px;

  margin-right: 5px;
	
}

.text {
	position: absolute;
	
	width: 9.8cm;
	height: 9cm;
	top: 3.0cm;
	left: 0.4cm;
	
	margin-top: 0px;
	padding: 0px;

//	text-align: justify;
	vertical-align: top;
	
	font-weight: 400;
	font-size: 0.48cm;	
}

.text2 {
	position: absolute;
	
	width: 9.80cm;
	height: 9cm;
	top: 7.8cm;
	left: 0.4cm;
	
	margin-top: 0px;
	padding: 0px;

//	text-align: justify;
	vertical-align: top;
	
	font-weight: 400;
	font-size: 0.46cm;
}

.contact {
	position: absolute;
	
	width: 5cm;
	height: 1.3cm;
	top: 1.78cm;
	left: 5.6cm;
	
	margin-top: 0px;
	padding: 0px;

//	text-align: justify;
	vertical-align: bottom;
	
	font-weight: 100;
	font-size: 0.37cm;
}

.title {
	position: absolute;
	
	width: 1.3cm;
	height: 9cm;
	top: 0.6cm;
	left: 0.3cm;
	
	text-align: center;
  visibility: hidden;
		
	line-height: 1.4cm;
	font-weight: 400;
	font-size: 1.4cm
}

.name {
	position: absolute;

	font-weight: 400;
	font-size: 1.2cm;
	text-align: right;
	margin-left: 14px;
	
 font-family: 'Anton', sans-serif;
}

.title_line1 {
	top: 0.0cm;
}

.title_line2 {
	top: 1.2cm;
}

.title_line3 {
	top: 11.9cm;
}

.logo_image {
	position: absolute;
	z-index: 0;
  width: 10.3cm;
	height: 3.3cm;
	
	left: -0.1cm;
	top: 11.4cm;

	opacity: 1.0;
	
	background-size: 11.3cm;
	background-image: url('../../img/tzm_icons.png');
}

.background_image_container {
	position: absolute;
	z-index: 0;
  width: 10.0cm;
	height: 10.0cm;
	
	top: 1.7cm;
  left: 0.2cm;
	
	opacity: 0.13;
	
	background-size: 9.99cm;
	background-image: url('../../img/tzmlogo.svg');
}

